@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@400;700&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    background-color: #444444;
    font-family: 'Almarai', arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

nav a {
    text-align: center;
    color : #fcfbfb;
    text-decoration: none;
    padding: 35px;
    margin-top: 10px;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #444444;
    border-bottom: 2px solid #137DC5;
}

nav {
    display: flex;
    justify-content: space-around;
    font-size: larger;
    font-weight: bold;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;

}

nav a:hover {
    background-color: #696969;
    color: #137DC5;
    text-shadow: 5px 5px 10px black;
    font-weight: bold;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 10%);
}


.coeur {
    width: 100%;
    height: auto;
    grid-column:2/5;
    margin-top: 150px;
}

.msg-home {
    grid-column: 6/10;
    margin-top: 150px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    align-self: center;
    text-align: center;
    background-color: #696969;
    border: 5px solid #137DC5;
    transition: transform .5s;
    box-shadow: 5px 5px 5px #696969;
}

.msg-home:hover, footer .social img:hover {
    opacity: .6;
    transform: scale(1.1);
}

footer {
    color: #fcfbfb;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid #137DC5;
}

footer a {
    text-decoration: none;
    color: #fcfbfb;
}

footer {
    font-size: 1.2em;
}

footer a:hover {
    text-decoration: underline;

}

footer .social img {
    border-radius: 50%;
    border: 2px solid #696969;
}

p a {
  margin-left: 400px;
}

/* projects */


  button {
  background-color: #696969;
  border-color: #444444;
  border-style: solid;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 5px 5px 5px #137DC5;
  font-size: x-small;
  }
  
  .button1:hover, .button2:hover, .button3:hover, .button4:hover {
    opacity: .6;
    transform: scale(1.1); 
}

button:hover {
  background-color: #444444;
  color: #fcfbfb;
  border: none;
  box-shadow: none;
}

  .project-grid {
    display: grid;
    grid-template-columns: repeat(12, 8%);
    justify-items: center;
    grid-template-rows: 20% 20% 15% 10% 35%;
    margin-top: 150px;
    justify-content: center;
  }
  
  .card1-project {
    grid-column: 4/5;
    grid-row: 1/2;
    z-index: 1; 
    align-self: end;
  }

  .card2-project {
    grid-column: 9/10;
    grid-row: 2/3;
    z-index: 1;
    align-self: start;
  }

  .card1-project, .card2-project {
    border: 2px solid #444444;
    border-radius: 5px;
    width: 70%;
    transition: transform .5s;
    box-shadow: 5px 5px 5px #444444;
    padding: 5px;
    margin: 10px
  }

  .card1-project:hover, .card2-project:hover {
    transform: scale(2);
    box-shadow: none;
    border: none;
  }

   .text {
    height: 200px;
    width: 100%;
    text-align: center;
    align-self: center;
    background-color: #696969;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
  }

  .text{
    z-index: 0;
    grid-column: 3/11;
    grid-row: 1/3;
    justify-content: center;
  }

  .text h2 {
    margin-top: 50px;
    
  }

  .button1 {
    margin-top: 100px;
   grid-column: 3/5;
    grid-row: 3/4;
    transition: transform .5s;
  }
  
  .button2 {
    margin-top: 100px;
    grid-column: 5/7;
    grid-row: 3/4;
    transition: transform .5s;
  }
  
  .button3 {
    margin-top: 100px;
    grid-column: 7/9;
    grid-row: 3/4;
    transition: transform .5s;
  }
  
  .button4 {
    margin-top: 100px;
    grid-column: 9/11;
    grid-row: 3/4;
    transition: transform .5s;
  }


  .span1, .span2, .span3, .span4 {
    text-align: left;
    margin-top: 100px;
    grid-column: 3/11; 
    grid-row: 5/6;
  }

  .span1, .span2, .span3, .span4 {
    padding: 20px;
    color: #fcfbfb;
    overflow: auto;
  }

  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #696969;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #137DC5;
}


  .dot {
    height: 25px;
    width: 25px;
    margin-top: 150px;
    background-color: #444444;
    border:2px solid #696969;
    border-radius: 50%;
    display: inline-block;
  }

  .work {
    display: inline-block;
    text-align: center;
    color : #fcfbfb;
    border-radius: 6px;
    text-decoration: underline;
    padding: 35px;
  }

  .work:hover {
    background-color: #696969;
    margin: 20px;
    color: #137DC5;
    text-shadow: 5px 5px 10px black;
    font-weight: bold;
  }

/*origins*/
 

.origins-grid {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  justify-items: center;
  grid-template-rows: 20% 20% 10% 20% 30%;
  gap: 10px;
  margin-top: 150px;
  margin-left: 40px;
}
  
.text1 {
  height: 200px;
  align-self: center;
  justify-content: center;
  align-content: center;
  background-color: #696969;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-left: 50px;
  padding-right: 350px;
}

.text1{
  z-index: 0;
  grid-column: 2/9;
  grid-row: 1/3;
}

.text1 h2 {
  margin-top: 30px;
  text-align: left; 
}

.text1 {
  text-align: left;
}

.card-origins {
  border: 2px solid #444444;
  border-radius: 5px;
  width: 100%;
  transition: transform .5s;
  box-shadow: 5px 5px 5px #444444;
  padding: 5px;
  margin: 10px;
}

.card-origins  {
  grid-column: 7/8;
  grid-row: 1/3;
  z-index: 1;
  align-self: center;
}

.card-origins:hover {
  transform: scale(2.5);
  box-shadow: none;
  border: none;
}

.button11 {
  border-radius: 5px;
  margin-top: 100px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  justify-content: center;
  grid-column: 4/7;
  grid-row: 3/4;
  transition: transform .5s;
}

.button22 {
  border-radius: 5px;
  margin-top: 100px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  justify-content: center;
  grid-column: 2/4;
  grid-row: 3/4;
  transition: transform .5s;
}


.button44 {
  border-radius: 5px;
  margin-top: 100px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  justify-content: center;
  grid-column: 7/9;
  grid-row: 3/4;
  transition: transform .5s;
}
.button11:hover, .button22:hover, .button44:hover {
  transform: scale(1.5);
}


.span11, .span22, .span44 {
  text-align: left;
  margin-top: 100px;
  grid-column: 2/9;
  grid-row: 5/6; 
}

.span11, .span22, .span44 {
  padding-left: 10px;
  padding-right: 10px;
  color: #fcfbfb;
  overflow: auto;
  margin-bottom: 10px;
}





/*don't write after this*/

@media screen and (max-width: 900px) {
    .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
   
    .project-grid {
      display: block;
      height: auto;
  }

    .origins-grid {
      display: block;
      height: auto;
  }

    .msg-home {
      margin-top: 20px;
      margin-bottom: 40px;
    }
  
    .text{
      width: 70%;
      height: 70%;
      font-size: 70%;
      text-align: center;
      justify-self: center;
      margin-left: 20px;
      padding: 10px;
      margin-left: 12%;
    }
    .text h2 {
      margin-top: 0px;
    } 

    .text1 h2 {
      text-align: center;
    }    

    .text1 {
      width: 60%;
      height: 70%;
      font-size: 70%;
      text-align: center;
      justify-self: center; 
      padding: 10px;
      margin-left: 12%;
      margin-bottom: 10px;
    }


    .card-origins {
      width: 60%;
      align-self: center;
      margin-left: 12%;
      margin-top: 10px;
    }

    .button1, .button2, .button3, .button4, .span1, .span2, .span3, .span4 {
      align-self: center;
      margin: 10px;
      margin-left: 10%;
    }


    .card-button {
      width: 80%;
      align-self: center;
    }

    .card1-project, .card2-project {
      width: 40%;
      align-self: center;
      margin-left: 25%;
    }

    #background {
        display: none;
    }
    
    footer {
        margin-top: 25px;
    }

    p a {
      margin-left: 0px;
    }

    .work {
      display: block;
    }
  
    .dot {
      margin-top: 10px;
    }

}

